<header>
   <h1><span>contact</span>BOX</h1>
   <div class="form">
       <div class="info">
   <input class="input-field" type="text" placeholder="Contact Name" />
 </div>
   <div class="info">
   <input class="input-field" type="text" placeholder="Phone" /></div>
     <div class="info">
   <input class="input-field"type="text" placeholder="Email" /></div>
 <div class="info">
   <input class="input-field" type="text" placeholder="Location"/></div>
     <div class="info">
       <input class="input-field" type="text" placeholder="Type"/></div>
         <div class="info">
   <input class="input-field" type="text" placeholder="Date Last Contacted"/></div>
     <div class="info">
   <button id="save-btn" type="button">save</button>
 </div>
 </header>

   <input id="search-input" type="text" placeholder="Search" />

   <div class="contact-list">
     <div class="container">
       <h2 class="idea-title">Jonah Jameson</h2>
       <button class="delete-button"></button>
       <img src="https://files.slack.com/files-pri/T029P2S9M-F2CN45T52/jonah-jameson.jpg">
       <div class="info">
       <p class="contact-info">333-333-3333</p>

       <p class="contact-info">jjjameson@gmail.com</p>
 <p class="contact-info">Type: Editor</p>
       <p class="contact-info">Location: New York, NY</p>

       <p class="idea-body">Fields of Expertise</p>
       <p class="idea-body">Date Last Contact: 09/16/16</p>
       <p class="idea-body">Notes: Kind of snarky but, overall, a decent guy
y.  Really wants pictures of spiderman</p>
<button class="up-arrow"></button>
       <button class="down-arrow"></button>
       <p class="idea-quality">rating: 4</p>

       <p class="idea-body">Pitch Description</p>
       <p class="idea-body">Pitch Status</p>
       <p class="idea-quality">Pending</p>

       <div class="pitch-status"></div>
       <p class="idea-quality">Accepted</p>
     </div>
   </div>
   <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
   <script src="scripts.js"></script>
